:root {
  --borderWidths-outlineButton: 1px;
  --colors-accountItemsContainer: hsla(225, 17%, 18%, 1);
  --colors-accountItemNotificationSuccess: hsl(150, 63%, 63%);
  --colors-accountItemNotificationWarning: hsl(37.2, 100%, 62.4%);
  --colors-background: hsl(180, 50%, 10%); /* 어두운 에메랄드 색조 */
  --colors-bodyBackground: var(--colors-background); /* 기본 배경색으로 설정 */
  --colors-billingToggleBackground: var(--colors-sectionHeaderBackground);
  --colors-badgeBackground: hsl(150, 63%, 63%);
  --colors-badgeAuroraBackground: linear-gradient(
    90deg,
    hsl(184.76deg 94.17% 41.84%) 0%,
    hsl(184.79deg 95.2% 50.98%) 60%,
    hsl(185.26deg 58.3% 54.5%) 100%
  );
  --colors-badgePrimaryText: hsl(0, 0%, 0%);
  --colors-badgeGradientText: hsl(0, 0%, 0%);
  --colors-bannerBackgroundInfo: hsl(208, 100%, 20%);
  --colors-bannerBackgroundError: hsl(2, 91%, 18%);
  --colors-bannerBackgroundWarning: hsl(37, 60%, 24%);
  --colors-bannerBackgroundSuccess: hsl(150, 73%, 19%);
  --colors-bannerBorder: 1px solid var(--colors-dialogTextSecondary);
  --colors-breadcrumbLink: var(--colors-link);
  --colors-buttonDestructiveBackground: hsl(3, 80%, 44%);
  --colors-buttonDestructiveBackgroundActive: hsl(3, 85%, 26%);
  --colors-buttonDestructiveBackgroundDisabled: hsl(3, 85%, 22%);
  --colors-buttonDestructiveBackgroundHover: hsl(3, 100%, 60%);
  --colors-buttonDestructiveText: white;
  --colors-buttonDestructiveTextDisabled: lightgray;
  --colors-buttonFooter: hsl(0, 0%, 75%);
  --colors-buttonFooterHover: hsl(0, 0%, 100%);
  --colors-buttonOutlineBackground: transparent;
  --colors-buttonOutlineBackgroundActive: hsla(0, 0%, 97.6%, 0.2);
  --colors-buttonOutlineBackgroundDisabled: hsla(0, 0%, 0%, 0.3);
  --colors-buttonOutlineBackgroundHover: hsla(0, 0%, 97.6%, 0.8);
  --colors-buttonOutlineBorder: hsl(0, 0%, 97.6%);
  --colors-buttonOutlineBorderDisabled: transparent;
  --colors-buttonOutlineBorderHover: transparent;
  --colors-buttonOutlineText: hsl(0, 0%, 97.6%);
  --colors-buttonOutlineTextDisabled: hsla(0, 0%, 79.2%, 0.4);
  --colors-buttonPrimaryBackground: hsl(207.4, 100%, 41.2%);
  --colors-buttonPrimaryBackgroundActive: hsl(199, 100%, 35%);
  --colors-buttonPrimaryBackgroundDisabled: hsl(207.4, 100%, 21%);
  --colors-buttonPrimaryBackgroundHover: hsl(207.4, 100%, 47.1%);
  --colors-buttonPrimaryText: hsl(0, 0%, 97.6%);
  --colors-buttonPrimaryTextDisabled: hsla(0, 0%, 97.6%, 0.5);
  --colors-buttonSecondaryBackdropFilter: blur(20px);
  --colors-buttonSecondaryBackground: hsla(0, 0%, 97.6%, 20%);
  --colors-buttonSecondaryBackgroundActive: hsla(0, 0%, 97.6%, 50%);
  --colors-buttonSecondaryBackgroundDisabled: hsla(0, 0%, 0%, 0.4);
  --colors-buttonSecondaryBackgroundHover: hsla(0, 0%, 97.6%, 40%);
  --colors-buttonSecondaryText: hsl(0, 0%, 97.6%);
  --colors-buttonSecondaryTextDisabled: hsla(0, 0%, 100%, 0.5);
  --colors-buttonTransparentText: hsl(0, 0%, 97.6%);
  --colors-buttonTransparentTextDisabled: hsl(0, 0%, 79.2%);
}

body {
  display: flex;
  background: linear-gradient(to bottom right, #005f5f, #002b2b);
  height: 100vh; /* 전체 화면을 채우기 위해 높이를 100vh로 설정 */
  margin: 0; /* 기본 여백 제거 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  /* align-items: center; 세로 방향 중앙 정렬 */
  padding-bottom: 100px;
}

.disney-plus-logo {
  width: 100%;
  flex-grow: 1;
  display: flex; /* Flexbox 사용 */
  margin-top: 50px;
  justify-content: center; /* 가로 방향 중앙 정렬 */
}
.container {
  margin-top: 0px;
  display: flex; /* Flexbox 컨테이너로 변경 */
  flex-wrap: wrap; /* 자식 요소들이 화면 크기에 따라 줄바꿈 할 수 있도록 설정 */
  width: 580px;
  height: 593px;
  border-radius: 20px;
  background-color: white;
  padding: 56px 72px;
  box-sizing: border-box; /* 패딩 및 테두리 포함한 전체 너비/높이 계산 */
}

.second_logo {
  z-index: 10;
}
.button_div {
  margin-top: 10px;
  justify-content: center; /* 가로 방향 중앙 정렬 */
}
.button {
  width: 436px; /* 너비 */
  height: 52px; /* 높이 */
  background-color: black; /* 배경색 */
  color: white; /* 글자색 */
  padding: 14px 24px; /* 위아래 14px, 양옆 24px 패딩 */
  border: none; /* 테두리 제거 */
  border-radius: 100px; /* 필요시 모서리 둥글게 */
  font-size: 16px; /* 글자 크기 */
  text-align: center; /* 글자 가운데 정렬 */
  cursor: pointer; /* 커서 모양 변경 */
}
.title {
  font-size: 28px; /* 글자 크기 설정 */
  font-weight: bold; /* 글자 두께를 굵게 설정 (선택 사항) */
  margin-top: 0px;
  margin-bottom: 10px;
}
.input-container {
  position: relative;
  margin-top: 10px; /* 입력창과 위의 요소 사이의 간격 */
}

.email {
  width: 400px; /* 전체 너비 */
  height: 32px; /* 높이 */
  background-color: #f0f0f0; /* 연한 그레이 색상 */
  border: none; /* 기본 테두리 없음 */
  border-bottom: 2px solid gray; /* 아래쪽 테두리 */
  padding: 20px 16px; /* 패딩 */
  font-size: 16px; /* 기본 글자 크기 */
  outline: none; /* 포커스 시 기본 테두리 없음 */
}

.email-label {
  position: absolute; /* 절대 위치 지정 */
  left: 16px; /* 좌측 여백 */
  top: 5px; /* 상단 여백 */
  font-size: 16px; /* 기본 글자 크기 */
  color: gray; /* 글자 색상 */
  transition: 0.3s ease; /* 애니메이션 효과 */
}

.email:focus + .email-label,
.email:not(:placeholder-shown) + .email-label {
  top: -8px; /* 위로 이동 */
  font-size: 12px; /* 글자 크기 감소 */
  color: blue; /* 포커스 시 색상 변경 */
}

.email:focus {
  border-bottom: 2px solid black; /* 포커스 시 아래쪽 테두리 색상 변경 */
  cursor: text; /* 커서 모양 변경 */
  transition: padding 0.3s ease, font-size 0.3s ease; /* 애니메이션 효과 */
}
.p2 {
  font-size: 14px;
}
.p3 {
  font-size: 12px;
}
footer {
  background-color: #f0f0f0;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px; /* 패딩을 추가하여 높이가 자동으로 조정되도록 함 */
  box-sizing: border-box; /* 패딩을 포함한 전체 크기를 계산 */
  z-index: 1000;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 40px;
}

.footer1 {
  min-width: 80px; /* 최소 너비 */
  height: 30px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: gray;
  text-align: center;
}

.footer1 a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
