body {
  background: radial-gradient(circle, #001020 50%, #01152b);
  color: white; /* 대비를 위한 텍스트 색상 */
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #020118; /* 원하는 배경색 */
  z-index: 1000; /* 다른 요소 위로 표시되도록 설정 */
  padding: 0px 20px; /* 위아래 여백 */
  height: 72px;
  align-items: center;
  display: flex;
}
/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user {
  width: 150px;
}
.user > ul > li {
  position: relative;
  line-height: 40px;
  float: left;
  width: 150px;
  text-align: center;
  list-style-type: none; /* 불릿 포인트(점) 없애기 */
}

/* GOOD과 이미지가 가로로 배치되도록 */
.user .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* GOOD과 이미지 사이에 간격 */
  cursor: pointer;
}

/* 서브 메뉴 스타일 */
.user ul ul {
  position: absolute;
  left: 0;
  top: 100%; /* 상위 항목 바로 아래에 표시 */
  width: 100%;
  display: none;
  background-color: #333; /* 배경색 */
  border-radius: 5px; /* 네모 모서리 둥글게 */
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style-type: none; /* 불릿 포인트(점) 없애기 */
}

/* 서브 메뉴 항목 스타일 */
.sub_menu li a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none; /* 기본 밑줄 제거 */
  background-color: #444; /* 항목 배경 */
  border-bottom: 1px solid #555; /* 항목 구분선 */
}

/* 마지막 항목에 구분선 제거 */
.sub_menu li:last-child a {
  border-bottom: none;
}

/* 서브 메뉴에 마우스를 올렸을 때 배경색 변경 */
.sub_menu li a:hover {
  background-color: #555;
}

/* 서브 메뉴를 보이게 할 때 */
.user > ul > li:hover .sub_menu {
  display: block;
}

svg {
  margin-top: 14px;
  margin-right: 60px;
}
i {
  font-size: 0.8em;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icons a::after {
  content: "";
  position: absolute;
  left: 5px;
  right: 0;
  height: 2px; /* 밑줄 두께 */
  background-color: white; /* 밑줄 색상 */
  transform: scaleX(0); /* 초기 상태에서 밑줄 숨기기 */
  transform-origin: bottom right; /* 밑줄이 오른쪽에서 왼쪽으로 확장되도록 */
  transition: transform 0.3s ease; /* 애니메이션 효과 */
  bottom: -10px;
}

.user {
  position: fixed;
  right: 0;
  display: flex; /* flexbox를 사용해 요소들을 가로로 나열 */
  align-items: center;
}

.user div {
  margin-right: 10px;
}

.login_icon {
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fills the container without stretching */
  margin-right: 10px; /* Add some space to the right of the image */
}
main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10);
  gap: 10px;
  grid-template-areas:
    "nav"
    "slider"
    "category"
    "marvle"
    "starwars"
    "disney"
    "pixar"
    "national"
    "star"
    "footer";
  justify-content: center;
  align-items: center;
}
.slider {
  margin-top: 80px;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slide {
  width: 95vw;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1); /* 더 부드러운 음영 효과 */
  border-radius: 25px;
  padding: #001020 5px solid;
  margin-right: 10px; /* 이미지 간 간격 추가 */
  z-index: 1; /* 기본 z-index 설정 */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
.left:hover {
  color: white;
}
.slide:hover {
  border: 2px solid white; /* 두께 2px, 스타일은 solid, 색상은 흰색 */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1); /* 마우스 오버 시 그림자 강하게 */
  /* transform: scale(1.05); 이미지를 약간 확대 */
  z-index: 2; /* 호버된 이미지를 다른 이미지 위로 올리기 */
}

.icons a {
  white-space: nowrap; /*2줄로 나오던거 수정 */
  display: inline-flex;
  text-decoration: none; /* 기본 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
  position: relative; /* ::after를 사용하기 위해 필요 */
  padding: 0 0 0 0;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

/* 화면 크기가 520px 이하일 때 */
@media (max-width: 520px) {
  .icons {
    gap: 5px; /* 아이콘 간격을 더 좁게 설정 */
  }

  .icons a {
    max-width: 100px; /* 아이콘의 최대 너비 */
  }
}

@media (max-width: 430px) {
  .icons {
    gap: 0; /* 아이콘 간격을 더 좁게 설정 */
  }
}
/* 화면 크기가 790px 이하일 때 텍스트 생략 */
@media (max-width: 790px) {
  .icons a {
    max-width: 120px; /* 최대 너비를 더 좁게 설정 */
  }
  .icons a span {
    /* 텍스트 숨기기 */
    display: none;
  }
}
.icons a:hover::after {
  transform: scaleX(1); /* hover 시 밑줄 확장 */
  transform-origin: bottom left; /* 밑줄이 왼쪽에서 오른쪽으로 확장되도록 */
  bottom: -10px;
}
.category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* 요소 간 간격을 추가 */
  justify-items: center; /* 자식 요소를 가운데 정렬 */
  align-items: center; /* 자식 요소를 수직으로 가운데 정렬 */
  width: 100%;
  padding: 50px 150px;
  box-sizing: border-box;
  overflow: hidden;
}

.category1 {
  min-width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg, #201e3b, #03000a);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 1); /* 기본 그림자 효과 추가 */
  gap: 10px;
}

.category1 .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* 비디오가 이미지 뒤에 배치되도록 설정 */
  opacity: 0; /* 기본 상태에서는 비디오가 보이지 않도록 설정 */
  visibility: hidden; /* 비디오가 보이지 않을 때 완전히 숨김 */
  transition: opacity 0.5s ease, visibility 0s 0.5s; /* opacity와 visibility 전환 */
}

.category1 img {
  position: relative;
  z-index: 1; /* 이미지는 비디오 위에 표시되도록 설정 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category1:hover {
  transform: scale(
    1.05
  ); /* hover 시 크기가 커지더라도 다른 요소에 영향을 주지 않도록 함 */
  transform-origin: center top;
}

.category1:hover .background-video {
  opacity: 1; /* hover 시 비디오가 보이도록 설정 */
  visibility: visible; /* hover 시 비디오를 보이게 설정 */
  transition: opacity 0.5s ease, visibility 0s 0s; /* opacity 전환과 visibility 전환 */
}

.category1:hover {
  scale: 1.05;
  border: 2px solid white;
}
.marble {
  display: grid;
  margin-top: 10px;
}
.starwars {
  display: grid;
}
.pixar {
  display: grid;
}
.star {
  display: grid;
}
.national {
  display: grid;
}
.footer {
  display: grid;
}

source:hover {
  opacity: 1;
}
.category2 {
  margin-left: 50px;
}

.slideS:hover {
  transform: scale(1.1);
  z-index: 2; /* 해당 이미지가 다른 이미지 위에 표시되도록 */
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideS:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}

.slideD:hover {
  transform: scale(1.1);
  z-index: 2; /* 해당 이미지가 다른 이미지 위에 표시되도록 */
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideD:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}

.slideP:hover {
  transform: scale(1.1);
  z-index: 2; /* 해당 이미지가 다른 이미지 위에 표시되도록 */
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideP:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}

.slideN:hover {
  transform: scale(1.1);
  z-index: 2; /* 해당 이미지가 다른 이미지 위에 표시되도록 */
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideN:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}

.slideS:hover {
  transform: scale(1.1);
  z-index: 2; /* 해당 이미지가 다른 이미지 위에 표시되도록 */
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideS:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}

/* 마블 슬라이드 */
.marvelSlider {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerM {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideM {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1); /* 더 부드러운 음영 효과 */
  border-radius: 25px;
  padding: #001020 5px solid;
  margin-right: 10px; /* 이미지 간 간격 추가 */
  z-index: 1; /* 기본 z-index 설정 */
}

.arrowM {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftM {
  left: 10px;
}

.rightM {
  right: 10px;
}
.leftM:hover {
  color: white;
}
.slideM:hover {
  border: 2px solid white; /* 두께 2px, 스타일은 solid, 색상은 흰색 */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1); /* 마우스 오버 시 그림자 강하게 */
  /* transform: scale(1.05); 이미지를 약간 확대 */
  z-index: 2; /* 호버된 이미지를 다른 이미지 위로 올리기 */
  transform: scale(
    1.05
  ); /* hover 시 크기가 커지더라도 다른 요소에 영향을 주지 않도록 함 */
  transform-origin: center top;
}

/* hover되지 않은 다른 이미지들에는 영향을 미치지 않음 */
.slideM:not(:hover) {
  z-index: 1; /* 기본적으로 다른 이미지들에는 낮은 z-index 부여 */
}
/*스타워즈 슬라이드*/
.sliderS {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerS {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideS {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: #001020 5px solid;
}

.arrowS {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftS {
  left: 10px;
}

.rightS {
  right: 10px;
}

.leftS:hover {
  color: white;
}

.slideS:hover {
  border: 2px solid white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}

/*디즈니 슬라이드*/
.sliderD {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerD {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideD {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: #001020 5px solid;
}

.arrowD {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftD {
  left: 10px;
}

.rightD {
  right: 10px;
}

.leftD:hover {
  color: white;
}

.slideD:hover {
  border: 2px solid white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}

/*픽사 슬라이드*/
.sliderP {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerP {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideP {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: #001020 5px solid;
}

.arrowP {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftP {
  left: 10px;
}

.rightP {
  right: 10px;
}

.leftP:hover {
  color: white;
}

.slideP:hover {
  border: 2px solid white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}

/*내셔널 슬라이드*/
.sliderN {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerN {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideN {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: #001020 5px solid;
}

.arrowN {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftN {
  left: 10px;
}

.rightN {
  right: 10px;
}

.leftN:hover {
  color: white;
}

.slideN:hover {
  border: 2px solid white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}

/*스타 오리지널 슬라이드*/

.sliderSO {
  position: relative;
  width: 100vw;
  margin-bottom: 50px;
}

.slide-containerSO {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 50px;
}

.slideSO {
  width: 300px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: #001020 5px solid;
}

.arrowSO {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
}

.leftSO {
  left: 10px;
}

.rightSO {
  right: 10px;
}

.leftSO:hover {
  color: white;
}

.slideSO:hover {
  border: 2px solid white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}

.category2 h2 {
  margin-bottom: 10px; /* h2와 아래 div 사이의 간격을 10px로 설정 */
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
